# gitignore: /dashboard
.DS_Store

# NodeJS + React + Storybook
node_modules
npm-debug.log
build-storybook.log
build
storybook-static
.env
U7599242634_clean_gps.json
U7599242634_user_gps.json
src/components/Researcher/ParticipantList/untitlednew.txt