.display-content-container {
  margin-right: auto;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  overflow-x: auto;
  height: 100vh;
  width: calc(100vw - 220px);
}

.header-container {
  width: 100%;
  background-color: white;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  border-bottom: 1px solid #dbdbdb;
  padding: 10px;
}

.page-title-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding-left: 10px;
}

.page-name {
  margin: 0;
  line-height: 17px;
  font-size: 17px;
  font-weight: 700;
  color: #1e293b;
  text-transform: capitalize;
  letter-spacing: -0.4px;
}

.profile-container {
  display: flex;
  flex-direction: row;
  gap: 5px;
  align-items: center;
  padding-left: 20px;
  padding-right: 10px;
}

.profile-text-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

.profile-text {
  margin: 0px;
  line-height: 15px;
  font-size: 14px;
  font-weight: 600;
  text-transform: capitalize;
  color: #4d555b;
}

.profile-sub-text {
  margin: 0px;
  line-height: 15px;
  font-size: 12px;
  font-weight: 400;
  color: gray;
  text-transform: capitalize;
}

.profile-icon {
  width: 35px;
  height: 35px;
}

.profile-icon path {
  fill: gray;
}

.action-container {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 1vw;
  padding: 5px 20px;
  /* position: -webkit-sticky; */
  /* position: sticky; */
  /* top: 0px; */
  /* z-index: 15; */
  background: #f1f5f9;
}

.search-icon-container {
  border-radius: 50%;
  height: 45px;
  min-width: 45px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.search-icon-container:hover:not(.expanded) {
  background-color: #e47c6214;
  cursor: pointer;
}

.search {
  position: relative;
  border-radius: 50px;
  border: 1px solid #9b9b9b;
  height: 27px;
  transition: width 100ms ease;
  width: 27px;
}

.search:hover {
  background-color: #f8f9fa;
}

.search-expanded {
  width: 300px;
  height: 40px;
  border: 1px solid #dadce0;
  /* justify-content: flex-start; */
  padding: 5px 5px;
  background: white;
}

.search-icon {
  margin: 0px 0px 0px 1px;
  height: 100%;
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  z-index: 1;
}

.search-expanded .search-icon {
  margin: 0px 0px 0px 5px;
}

.search-expanded .search-icon-inner {
  color: #d9d7d7;
  cursor: pointer;
  font-size: 25px;
  line-height: 20px;
}

.makeStyles-inputInput-88 {
  width: 100%;
  padding: 6px 0px;
  padding-left: 35px;
  font-size: 14px;
  letter-spacing: -0.2px;
  color: #666;
}

.search-icon-inner {
  /* width: 20px; */
  /* height: 20px; */
  color: #bdbdbd;
  cursor: pointer;
  font-size: 20px;
  line-height: 20px;
}

.icon-container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 49px;
  width: 49px;
  border-radius: 50%;
  transition: background-color 0.3s ease-in-out;
}

.icon-container:hover {
  background-color: #e47c6214;
  cursor: pointer;
}

.sort-icon-container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 45px;
  width: 50px;
  border-radius: 50%;
  transition: background-color 0.3s ease-in-out;
  margin: 0px -8px 0px 4px;
}

.sort-icon-container:hover {
  background-color: #e47c6214;
  cursor: pointer;
}

.refresh-icon,
.grid-icon,
.grid-icon-filled,
.filter-icon,
.download-icon,
.edit-icon,
.save-icon,
.password-edit-icon,
.left-icon,
.right-icon,
.cancel-icon {
  width: 25px;
  height: 25px;
  cursor: pointer;
  fill: #9b9b9b;
}

.sort-icon {
  padding: 0px 2px 0px 2px;
  font-size: 22px !important;
  cursor: pointer;
  color: #9b9b9b;
}

.filter-cols-icon,
.view-icon,
.view-icon-filled {
  width: 29px;
  height: 29px;
  cursor: pointer;
  fill: #9b9b9b;
  margin-top: 1px;
}

.icon-container:hover svg path,
.view-icon:hover path,
.view-icon-filled:hover path,
.grid-icon:hover path,
.grid-icon-filled:hover path,
.filter-cols-icon:hover path,
.filter:hover path,
.download-icon:hover path,
.refresh-icon:hover path,
.edit-icon:hover path,
.save-icon:hover path,
.password-edit-icon:hover path,
.left-icon:hover path,
.right-icon:hover path,
.cancel-icon:hover path {
  fill: #7c7a78;
  cursor: pointer;
}

.grid-icon-filled path,
.view-icon-filled path {
  fill: #7c7a78 !important;
}

.add-icon-container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 50px;
  width: 50px;
  border-radius: 50%;
  position: relative;
  overflow: auto;
}

.add-icon-container:hover {
  background-color: #e47c6214;
  cursor: pointer;
}

.add-fab-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 26.5px;
  min-height: 26.5px;
  height: 26.5px;
  border: none;
  border-radius: 100%;
  box-shadow: none;
  background-color: #008607;
  color: white;
  /* margin-left: 10px; */
  /* margin-right: 10px; */
  transition: background-color 0.3s ease-in-out;
  cursor: pointer;
}

.MuiSvgIcon-root {
  fill: currentColor;
  width: 1em;
  height: 1em;
  display: inline-block;
  font-size: 18px;
  transition: fill 200ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
  flex-shrink: 0;
  -moz-user-select: none;
}

.add-fab-btn:hover {
  background-color: #57a05d;
  cursor: pointer;
}

.add-icon,
.add-icon path {
  cursor: pointer;
}

.body-container {
  overflow-y: visible;
  background-color: #f1f5f9;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  position: relative;
}

.grid-container {
  height: 100%;
  position: relative;
  border-radius: 20px;
  overflow: auto;
}

.content-container {
  position: relative;
  display: flex;
  flex-direction: column;
  padding: 5px 14px 5px 10px;
}

.tabular-view {
  overflow-y: visible;
}

.MuiCardActions-root,
.MuiCardActions-spacing,
.header-action-bar {
  display: none;
}

.content-container div.MuiInput-underline::before {
  border-bottom: 0 !important;
}

.content-container div.MuiInput-underline::after {
  border-bottom: 0 !important;
}

.content-container div.MuiInput-underline span.material-icons {
  width: 100%;
  font-size: 27px;
  line-height: 23px;
  color: rgba(0, 0, 0, 0.04);
}

.content-container div.MuiInput-underline button {
  display: none;
}

.table-actions-container {
  display: flex;
  flex-direction: row;
  gap: 0px;
  align-items: center;
}

.table-actions-icon-container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 35px;
  width: 35px;
  border-radius: 50%;
  transition: background-color 0.3s ease-in-out;
}

.table-actions-icon-container.active {
  background-color: rgba(211, 211, 211, 0.5);
}

.table-actions-icon-container:hover {
  background-color: rgba(211, 211, 211, 0.2);
  cursor: pointer;
}

.table-actions-icon-container.disabled-icon-container {
  opacity: 0.5;
  cursor: not-allowed;
}

.table-actions-icon {
  width: 20px;
  height: 20px;
  cursor: pointer;
}

.table-actions-icon path {
  cursor: pointer;
  fill: #5254ce;
}

.table-actions-icon-container:hover .table-actions-icon path {
  cursor: pointer;
  fill: #2a2b62;
}

.table-actions-icon.disabled-icon {
  pointer-events: none;
  opacity: 0.5;
}

.sticky-column {
  border-bottom: 0.5px solid #def;
  white-space: nowrap;
  background: #ffffff;
  border-left: 0.5px solid #def;
  z-index: 1;
  position: sticky;
}

.add-researcher-header {
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
  margin-bottom: 20px;
}

.add-researcher-icon {
  border-radius: 100%;
  background-color: #eb8367;
  height: 40px;
  width: 45px;
  justify-content: center;
  align-items: center;
  display: flex;
}

.add-researcher-icon svg {
  fill: white;
  width: 30px;
  height: 26px;
}

.admin-dashboard-container {
  width: 100% !important;
  margin-left: 5px !important;
  padding: 20px;
}

.dashboard-column {
  display: flex;
  flex-direction: column;
  gap: 25px;
}

.column-card {
  border-radius: 10px !important;
}

.column-card-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.card-content-numerical-2ndcol {
  font-size: 2.5rem !important;
}

.card-content-text {
  color: grey;
}

.card-content-numerical.loading {
  font-size: 1.8rem !important;
}

.view-element-container {
  margin-top: 30px;
  flex: 1;
  overflow: hidden;
  display: flex;
  width: 100%;
}

/* .forgot-password-container {
  width: 100%;
  min-width: 440px;
  padding: 30px;
  border-radius: 15px;
}

.forgot-password-wrapper {
  position: relative;
  width: 100%;
  display: flex;
  flex-direction: column;
}

.forgot-password-title {
  margin-top: 20px;
  align-self: flex-start;
  font-weight: 900;
  font-size: 40px;
  margin-bottom: -15px;
}

.forgot-password-subtitle {
  margin-top: 20px;
  align-self: center;
  font-weight: 400;
  margin-bottom: -15px;
}

.forgot-password-form {
  width: 100%;
}

.forgot-password-form-box {
  width: 100%;
}

.forgot-password-email-field {
  width: 100%;
  height: 50px;
  margin-top: 40px;
}

.forgot-password-select {
  width: 100%;
  border-radius: 10px;
  padding: 10px;
  margin-top: 10px;
}

.forgot-password-button-container {
  text-align: center;
  width: 100%;
  margin-top: 32px;
}

.forgot-password-button-wrapper {
  width: 100%;
  text-align: center;
}

.forgot-password-submit-button {
  background: #cf825a !important;
  color: white !important;
  width: 100%;
  height: 56px;
  border-radius: 999px !important;
  font-weight: 500 !important;
  font-size: 16px !important;
  text-transform: none !important;
  position: relative;
}

.forgot-password-back-container {
  text-align: left;
  width: 100%;
  margin-top: 32px;
}

.forgot-password-back-text {
  font-size: 16px;
}

.forgot-password-back-link {
  color: #1a73e8;
  cursor: pointer;
  text-decoration: none;
} */
