.display-content-container {
  margin-right: auto;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  overflow-x: auto;
  height: 100%;
}

.header-container {
  width: 100%;
  background-color: white;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  border-bottom: 1px solid #dbdbdb;
  padding: 10px 20px;
}

.profile-container {
  display: flex;
  flex-direction: row;
  gap: 5px;
  align-items: center;
  /* padding-left: 9px; */
}

.profile-text-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

.profile-text {
  margin: 0px;
  line-height: 15px;
  font-size: 15px;
  font-weight: 500;
  text-transform: capitalize;
  color: #4d555b;
}

.profile-sub-text {
  margin: 0px;
  line-height: 15px;
  font-size: 13px;
  font-weight: 400;
  color: gray;
  text-transform: capitalize;
}

.profile-icon {
  width: 35px;
  height: 35px;
}

.profile-icon path {
  fill: gray;
}

.action-container {
  flex-grow: 1;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 5px;
  padding-right: 10px;
}

.search-icon-container {
  border-radius: 50%;
  height: 45px;
  width: 45px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.search-icon-container:hover {
  background-color: #e47c6214;
  cursor: pointer;
}

.search-icon-container2 {
  width: auto;
}

.search-icon-container2:hover {
  background-color: transparent;
}

.search {
  position: relative;
  border-radius: 50px;
  background-color: #fff;
  border: 1px solid #dadce0;
  height: 30px;
  transition: width 100ms ease;
  width: 30px !important;
}

.search:hover {
  background-color: #f8f9fa;
}

.search-compact {
  width: 33px;
}

.search-expanded {
  width: 300px !important;
}

/* .search-compact.search-expanded {
  width: 122px;
} */

.search-icon {
  padding: 0px 8px 4px 2px;
  height: 100%;
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  z-index: 1;
}

.search-icon-inner {
  width: 20px;
  height: 20px;
  color: #7f7f7f;
  /* Example color */
  cursor: pointer;
}

.icon-container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 45px;
  width: 45px;
  border-radius: 50%;
  transition: background-color 0.3s ease-in-out;
}

.icon-container:hover {
  background-color: #e47c6214;
  cursor: pointer;
}

.refresh-icon,
.grid-icon,
.grid-icon-filled,
.filter,
.download-icon {
  width: 28px !important;
  height: 28px !important;
  cursor: pointer;
  fill: #7f7f7f;
}

.filter-cols-icon,
.view-icon,
.view-icon-filled {
  width: 32px !important;
  height: 32px !important;
  cursor: pointer;
  fill: #7f7f7f;
}

.icon-container:hover svg path,
.view-icon:hover path,
.view-icon-filled:hover path,
.grid-icon:hover path,
.grid-icon-filled:hover path,
.filter-cols-icon:hover path,
.filter:hover path,
.download-icon:hover path,
.refresh-icon:hover path {
  fill: gray;
  cursor: pointer;
}

.grid-icon-filled path,
.view-icon-filled path {
  fill: #979797 !important;
}

.add-icon-container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 45px;
  width: 45px;
  border-radius: 50%;
}

.add-icon-container:hover {
  background-color: #e47c6214;
  cursor: pointer;
}

.add-fab-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 29.5px;
  min-height: 28px;
  height: 29.5px;
  border: none;
  border-radius: 100%;
  box-shadow: none;
  background-color: #008607;
  color: white;
  /* margin-left: 10px;
  margin-right: 10px; */
  transition: background-color 0.3s ease-in-out;
  cursor: pointer;
}

.add-fab-btn:hover {
  background-color: #57a05d;
  cursor: pointer;
}

.add-icon,
.add-icon path {
  cursor: pointer;
}

.body-container {
  padding: 5px 5px;
  overflow-y: auto;
  background-color: #f1f5f9 !important;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.table-container {
  height: 100%;
  position: relative;
  border-radius: 20px;
  border: 1px solid rgb(229, 231, 235);
  box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  overflow: auto;
}

.MuiCardActions-root,
.MuiCardActions-spacing,
.header-action-bar {
  display: none;
}

.table-container div.MuiInput-underline::before {
  border-bottom: 0 !important;
}

.table-container div.MuiInput-underline::after {
  border-bottom: 0 !important;
}

.table-container div.MuiInput-underline span.material-icons {
  width: 100%;
  font-size: 27px;
  line-height: 23px;
  color: rgba(0, 0, 0, 0.04);
}

.table-container div.MuiInput-underline button {
  display: none;
}

.table-actions-container {
  display: flex;
  flex-direction: row;
  gap: 0px;
  align-items: center;
}

.table-actions-icon-container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 35px;
  width: 35px;
  border-radius: 50%;
  transition: background-color 0.3s ease-in-out;
}

.table-actions-icon-container.active {
  background-color: rgba(211, 211, 211, 0.5);
}

.table-actions-icon-container:hover {
  background-color: rgba(211, 211, 211, 0.2);
  /* Light grey hover effect */
  cursor: pointer;
}

.table-actions-icon-container.disabled-icon-container {
  opacity: 0.5;
  cursor: not-allowed;
}

.table-actions-icon {
  width: 20px;
  height: 20px;
  cursor: pointer;
}

.table-actions-icon path {
  cursor: pointer;
}

.table-actions-icon.disabled-icon {
  pointer-events: none;
  opacity: 0.5;
}

.sticky-column {
  border-bottom: 0.5px solid #def;
  white-space: nowrap;
  background: #ffffff;
  border-left: 0.5px solid #def;
  z-index: 1;
  position: sticky;
}

.add-researcher-header {
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
  margin-bottom: 20px;
}

.add-researcher-icon {
  border-radius: 100%;
  background-color: #eb8367;
  height: 40px;
  width: 45px;
  justify-content: center;
  align-items: center;
  display: flex;
}

.add-researcher-icon svg {
  fill: white;
  width: 30px;
  height: 26px;
}

.admin-dashboard-container {
  width: 100% !important;
  margin-left: 5px !important;
  padding: 20px;
}

.dashboard-column {
  display: flex;
  flex-direction: column;
  gap: 25px;
}

.column-card {
  border-radius: 10px !important;
}

.column-card-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.card-content-numerical-2ndcol {
  font-size: 2.5rem !important;
}

.card-content-text {
  color: grey;
}

.card-content-numerical.loading {
  font-size: 1.8rem !important;
}

.view-element-container {
  flex: 1;
  overflow: hidden;
  display: flex;
  width: 100%;
}

.forgot-password-container {
  width: 100%;
  min-width: 420px;
  background-color: rgb(214, 214, 214);
  padding: 30px;
  border-radius: 15px;
}
