.cards-grid {
  /* Uncomment as needed */
  /* padding: 5px 14px 5px 5px; */
  /* padding-right: 14px;
     padding-top: 5px; */
}

.actionIcon {
  width: 24px;
  height: 24px;
  cursor: pointer;
  transition: all 0.3s ease;
  opacity: 0.4;
  display: inline-flex;
  justify-content: center;
  flex-shrink: 0;
  position: relative;
}

.actionIcon path {
  fill: #000; /* or rgba(0, 0, 0, 0.4); */
}

.actionIcon:hover {
  opacity: 1;
}

.actionIcon:hover path {
  fill: #06b0f0;
}

.actionIcon.selected {
  opacity: 1;
}

.actionIcon.selected path {
  fill: #4f95da;
}

.actionIcon.active {
  opacity: 1;
}

.actionIcon.active path {
  fill: #215f9a;
}

.action-buttons {
  display: flex;
  gap: 8px;
}
