.forgot-password-title {
  font-size: 32px;
  font-weight: 900;
  color: #1e293b;
  margin-bottom: -10px;
  line-height: 1em;
}

.forgot-password-subtitle {
  font-weight: 500;
  font-size: 0.8rem;
  line-height: 1rem;
  color: #64748b;
  letter-spacing: -0.2px;
}

.forgot-password-form {
  width: 100%;
}

.forgot-password-form-box {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.textfield-style .forgot-password-email-field > div:nth-child(1) .forgot-password-email-field > .MuiInputBase-root {
  color: rgba(0, 0, 0, 0.87);
  cursor: text;
  display: inline-flex;
  position: relative;
  font-size: 0.9rem;
  box-sizing: border-box;
  align-items: center;
  font-family: Inter, Roboto, Helvetica, Arial, sans-serif;
  font-weight: 400;
  line-height: 1.1876em;
}

.forgot-password-email-field > .MuiOutlinedInput-root {
  position: relative;
  border-radius: 6px;
}

.forgot-password-email-field > .MuiOutlinedInput-root:hover {
  border-color: #2196f3;
}

.forgot-password-email-field .MuiOutlinedInput-input {
  padding: 16px 12px;
}

.forgot-password-email-field
  fieldset.jss3
  div.MuiFormControl-root:nth-child(1)
  > div:nth-child(1)
  > fieldset:nth-child(2)
  .forgot-password-email-field
  .jss3 {
  top: 0px;
  left: 0;
  right: 0;
  bottom: 0;
  margin: 0;
  padding: 0 8px;
  overflow: hidden;
  position: absolute;
  border-style: solid;
  border-width: 1px;
  border-radius: inherit;
  pointer-events: none;
  box-shadow: 1px 2px 3px 0 rgba(203, 213, 225, 0.2);
  border-color: rgb(203 213 225);
}

div.MuiFormControl-root:nth-child(1)
  > div:nth-child(1)
  > fieldset:nth-child(2)
  > legend:nth-child(1)
  .forgot-password-email-field
  legend.jss4
  .jss4 {
  padding: 0;
  text-align: left;
  transition: width 150ms cubic-bezier(0, 0, 0.2, 1) 0ms;
  line-height: 0;
  width: 0;
  height: 0;
}

.button-nav {
  margin-top: 20px;
}

.MuiFab-root.forgot-password-submit-button:hover {
  background-color: #b7714e;
  text-decoration: none;
}

.forgot-password-submit-button {
  background: #cf825a;
  border-radius: 99px;
  height: 46px;
  width: 100%;
  box-shadow: none;
}

.button-nav button span {
  font-size: 14px;
  font-weight: 600;
  text-transform: none;
  color: #fff;
}

.login-button__hidden-submit {
  cursor: pointer;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  border: none;
  margin: 0;
  padding: 0;
}

.forgot-password-back-container {
  font-family: Inter var, ui-sans-serif, system-ui, sans-serif;
  margin-top: 20px;
  font-weight: 500;
  font-size: 0.8rem;
  line-height: 1rem;
  color: #64748b;
  letter-spacing: -0.2px;
}

.forgot-password-back-container .forgot-password-back-text {
  font-size: 13px;
}

.forgot-password-back-container .forgot-password-back-text .forgot-password-back-link {
  color: rgb(26, 115, 232);
  cursor: pointer;
  text-decoration: none;
  font-weight: 600;
}
